
<!-- <div data-ng-hide="authentication.user._id">
	show a front page that will promp user to sign in to be able to post
</div> -->

<section data-ng-controller="PostsController" data-ng-show="authentication.user._id" data-ng-init="find()">
	<div id="overlay" ng-show="showOverlay">
		<div id='newPost' class=' col-md-6'><!-- start of upload -->
			<div class='deleteIcon pull-right' ng-click='cancelPost()'></div>
			<div class='postImage'>
			<form data-ng-submit="create()" novalidate>
				<ul>
				<li >
					<div id="description">
					<label>Description :</label>
				  <textarea class='col-md-6' name="description" data-ng-model="description" class="form-control"type='text' rows="1" placeholder="What's It about ?"></textarea>
				  </div>
			  </li>

				<li>
					<label>Category :</label>
					<select data-ng-model="fields">
						<option></option>
						<option>Sports</option>
						<option>Politics</option>
						<option>Relationship</option>
						<option>Networking</option>
						<option>Career</option>
						<option>Religious</option>
					</select>
					</li>

					<li>
						<label class='pull-left'>Upload an Image :</label>
						<input data-ng-model="image" class='pull-left imageLoad' type='file' data-ng-file-select="onFileSelect($files)" class="form-control" accept="image/*" required>
					</li>

					<input type='submit' value='Upload' id='uploadBtn'>

			</ul>
			</form>
			</div><!-- end of upload -->
		</div>
	</div>

	<div class='updates'>
		<div align= 'center'>
		<ul>
			<li ng-click='overlayClicked()'>
				<a  class=''>Create</a>
			</li>
				<a href="/#!/posts" class=''>
					<li>
							List Post
					</li>
				</a>
		</ul>
		</div>
	</div>

	<div class='col-md-2 leftBar'>		
		<img class='imagePosted  img-thumbnail' ng-src="{{authentication.user.profile[0].path}}">
		<div data-ng-bind='authentication.user.displayName' class='displayName'></div>
	</div>

	<div class='col-md-6 col-sm-12'>
			<div>
				<section>	
					<div class="list-group">
						<a data-ng-repeat="post in posts" class="list-group-item">
							<div ng-click='showComments($index)'>

							<small class="list-group-item-text">
									Posted on
									<span data-ng-bind="post.created | date:'mediumDate'"></span>
									by
									<span data-ng-bind="post.user.displayName"></span>
							</small>

							<img class='pull-right' style='width:12px;height:12px' src="/modules/core/img/delete1.png" data-ng-show="authentication.user._id == post.user._id" ng-click='deletePost();'>

							<p class="list-group-item-text pull-right" style='margin-right:6px'data-ng-bind="post.fields"></p>
							<img class='imagePosted' ng-src="{{post.image[0].path}}">
							<h5 data-ng-bind="post.description"></h5>
							
							</div>
							
							<form data-ng-submit='addComment($index)'>
								<input class='col-md-12'type='text' placeholder='Comment ?' data-ng-model='newComment'>
							</form>

							<div>
								<img ng-src='/modules/core/img/love.png' style='width:16px;height:16px' data-ng-click='likeAble($index)'>
								<span ng-bind="post.likes"></span>
									,
								<img src="/modules/core/img/comment.png" style='width:16px;height:16px'>
								<span ng-bind='post.comments.length'></span>

							</div>
						</a>
					</div>
					<div class="alert alert-warning text-center" data-ng-if="posts.$resolved && !posts.length" ng-click='overlayClicked()'>
						No posts yet, why don't you <a>create one</a>?
					</div>
				</section>
		</div>

		</div><!-- end of col-md-6 -->

		<div class='col-md-4 ' id='commentClass'>
			<section >
					<div class="list-group">
						<a data-ng-repeat="comment in comments" class="list-group-item commentBox">
							<small class="list-group-item-texts comment-item-text">
								Posted on
								<span data-ng-bind="comment.created | date:'mediumDate'"></span>
								by
								<span data-ng-bind="comment.commentBy"></span>
							</small>
							<h4 class="list-group-item-heading comment-item-text" data-ng-bind="comment.content"></h4>
							<p class="list-group-item-text" data-ng-bind="post.description"></p>
						</a>
					</div>
				</section>
		</div>
</section>
