
<!-- <div data-ng-hide="authentication.user._id">
	show a front page that will promp user to sign in to be able to post
</div> -->
<section data-ng-controller="PostsController" data-ng-init="find()">
	<div data-ng-hide="authentication.user._id">
		

		<div class='col-md-12 cols-xs-12 ' id='previewPage'>
			<a data-ng-repeat="post in posts" class=" col-md-2 thumbnail">
					<img ng-src="{{post.image[0].path}}" style='display:block'>
			</a>
		</div>

		<div class='col-md-12 cols-xs-12' id='previewInfo'>
			<div class='previewInfo'>
				<h2>...Create | Share | Comment | Improve...</h2>
				<h1>World of Art</h1>
				<a href="/#!/signup">Sign Up</a>
				<a href="/#!/signin">Sign In</a>
			</div>
		</div>
	</div>

<section data-ng-show="authentication.user._id"  class='col-md-10 col-md-offset-1' id='panel'>
	<div id="overlay" ng-show="showOverlay">
		<div id='newPost' class='col-md-6'><!-- start of upload -->
			<div class='deleteIcon pull-right' ng-click='cancelPost()'></div>
			<div class='postImage'>
			<form data-ng-submit="create()" novalidate>
				<ul>
				<li >
					<div id="description">
					<label>Description :</label>
				  <textarea class='col-md-6' name="description" data-ng-model="description" class="form-control"type='text' rows="1" placeholder="What's It about ?"></textarea>
				  </div>
			  </li>

				<li>
					<label>Category :</label>
					<select data-ng-model="fields">
						<option></option>
						<option>Paintings</option>
						<option>Photography</option>
						<option>Selfie</option>
						<option>Sculpture</option>
						<option>Landscape</option>
						<option>Abstract</option>
					</select>
					</li>

					<li>
						<label class='pull-left'>Upload an Image :</label>
						<input data-ng-model="image" class='pull-left imageLoad' type='file' data-ng-file-select="onFileSelect($files)" class="form-control" accept="image/*" required>
					</li>

					<input type='submit' value='Upload' id='uploadBtn'>

			</ul>
			</form>
			</div><!-- end of upload -->
		</div>
	</div>

	

	<div class='col-md-12 topBar dashBoard center'>		
		<img class='imagePosted  img-thumbnail col-md-2' ng-src="{{authentication.user.profile[0].path}}">
		<div class='col-md-6'>
			<!-- <label>Name :</label> -->
			<h2 data-ng-bind='authentication.user.displayName' class='displayName'></h2>
		<!-- 	<label>Email :</label> -->
			<p data-ng-bind='authentication.user.email'></p>
		</div>
		<div class='updates col-md-6 col-md-offset-9'>
				<ul>
					<li ng-click='overlayClicked()'>
						<a class='btn btn-primary'>Create</a>
					</li>
						<a href="/#!/posts" >
							<li class='btn btn-primary'>
									List Post
							</li>
						</a>
				</ul>
		</div>
	</div>

	<div>
			<div>
				<section>	
					<div class="list-group post-group col-md-7 col-xs-12">
						<a data-ng-repeat="post in posts" class="list-group-item postItems ">
							<div ng-click='showComments($index)'>
							<small class="list-group-item-text">
									Posted on
									<span data-ng-bind="post.created | date:'mediumDate'"></span>
									by
									<span data-ng-bind="post.user.displayName"></span>
							</small>

							<img class='pull-right' style='width:12px;height:12px' src="/modules/core/img/delete1.png" data-ng-show="authentication.user._id == post.user._id" ng-click='deletePost();'>

							<p class="list-group-item-text pull-right" style='margin-right:6px'data-ng-bind="post.fields"></p>
								<img class='imagePosted' ng-src="{{post.image[0].path}}" style='display:block'>
							<div class='postDecription'>
								<p class='list-group-item-text' data-ng-bind="post.description"></p>
							</div>
							</div>
							
							<form data-ng-submit='addComment($index)'>
								<input class='col-md-12'type='text' placeholder='Write something about it' data-ng-model='newComment'>
							</form>

							<div style='font-size:13px;color:#3173AB'>
								 <img ng-src='/modules/core/img/love.png' style='width:16px;height:16px' data-ng-click='likeAble($index)' ng-if='alreadyLiked($index) === 0'>
								<img ng-src='/modules/core/img/nolove.png' style='width:16px;height:16px' data-ng-click='likeAble($index)' ng-if='alreadyLiked($index) === 1'>
								<span ng-bind="post.likes.length"></span> 
									Like(s),
								<img src="/modules/core/img/comment.png" style='width:16px;height:16px'>
								<span ng-bind='post.comments.length'></span>
							</div>
						</a>
					</div>
					<div class="alert alert-warning text-center" data-ng-if="posts.$resolved && !posts.length" ng-click='overlayClicked()'>
						No posts yet, why don't you <a>create one</a>?
					</div>
				</section>
		</div>

		</div><!-- end of col-md-6 -->

		<div class='col-md-5 col-xs-12' id='commentClass'>

		<div class='list-group-item-text'>showing {{comments.length}} comment(s)</div>

			<section >
					<div class=" comment-group">
						<div ng-show='!comments.length' class="alert alert-info list-group-item-texts" style='text-align:center'>
							Why not add a comment
						</div>
						<a data-ng-repeat="comment in comments" class="list-group-item commentBox">
							<small class="list-group-item-texts comment-item-text">
								Posted on
								<span data-ng-bind="comment.created | date:'mediumDate'"></span>
								by
								<span data-ng-bind="comment.commentBy"></span>
							</small>
							<h4 class="list-group-item-heading comment-item-text" data-ng-bind="comment.content"></h4>
							<p class="list-group-item-text" data-ng-bind="post.description"></p>
						</a>
					</div>
				</section>
		</div>
</section>
</section>
