/********************************
	SCROLL BAR HANDLING
********************************/


/*************************************
::-webkit-scrollbar { 
    display: none; 
} hidding scroll bar
**************************************/

.content {
	margin-top: 50px;
}
.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
.ng-invalid.ng-dirty{
   /* border-color:#FA787E;*/
}
.ng-valid.ng-dirty{
    /*border-color:#78FA89;*/
}

/*MY OWN STYLING STARTS HERE*/
body {
	background-color: #dbdbdb !important;
	/*background: url(../img/bg3.jpg) no-repeat;*/
	background-size: cover;
}
.updates
 {
 	margin-top: 1%;
	border-radius: 5px;
}

.updates ul 
{
	margin-right: 22%;
}
.updates ul li {
	display: inline-block;
	width: 30%;
	background-color: rgba(255,255,255,.4);
	color: #888 !important;
	text-decoration: none;
}
.updates a
 {
	text-decoration: none;
	color:#888;
}
.updates li:hover
 {
	text-decoration: none;
	background-color: white;
}
#overlay
{
width: 100%;
height:100%;
position:absolute;
z-index: 100;
top:0;
left:0;
background: rgba(0,0,10,0.6);
position: fixed;
}
#newPost
{
width: 50%;
height: 40%;
background-size: cover;
background-color: steelblue;
position: fixed;
top:150px;
left:25%;
right:25%;
z-index: 20;
border-radius: 5px
}
form>ul>li {
	text-decoration: none;
	list-style: none;
	display:inline-block;
	border-bottom: 1px solid #fff	;
	padding-top: 10px;
	width: 90%;
	padding-bottom: 10px;

}
form>ul>li:first-child {

}

form>ul>li label {
	color: #fff;
}
#description {
	padding-bottom: 15px;
	margin-top: 1%;
	border-bottom: 30px !important;
}
#description textarea,
select {
	float:right;
	color: #000 !important;
	margin-right:20%;

}
select
{
	width: 50%;
}
.postImage {
	margin-top: 50px;
}
.imageLoad {
	padding-left: 7%;
}
#uploadBtn {
	width: 100px;
	height: 40px;
	outline-width: 6px;
	text-align: center;
}
.deleteIcon
 {
	background: url(../img/del.png) no-repeat  3px;
	background-size: cover;
	/*background-color: white;*/
	z-index: 2000;
	width: 30px;
	height: 30px;
	display: block;
}

#postTile {
	margin-left: auto;
	margin-right: auto;
}
#postTile a{
	width: 18%;
	display: inline-block;
	margin:3px 5px; 
	border-top: 15px;
	text-decoration: none;
	padding: 2px;
}
#postTile a:hover{
	background-color:rgba(100,100,100,.1);
	transition:.4s;
}
#postTile img{
	max-height: 200px;
	width: 100%;
	background-image: url(../img/Messaging.png ) no-repeat;
	background-size: cover;
	padding: 0px 0px !important;
	border-bottom: 1px solid #f4f4f4;
}
/***************************
		COMMENTS
***************************/
.list-group{
	overflow-y:auto;
	height: 500px; 
}
.comment-item-text
{
	color: #666 !important;
}
.commentBox {
	background-color: rgba(255,255,255,.6);
	border-left: 3px solid #888;
}
.commentBox:hover {
	background-color: rgba(200,200,250,.2) !important;
	border-right: 3px solid #888;
}
a.myList-group-item {
	color: #555;
}
.myList-group-item img {
	padding:1px 1px;
}
input[type=file]{
	color: white;
}
.displayName {
	width: 100%;
	background-color: tomato;
	text-align: center;

}
.myList-group-item-heading {
	width: 100%;
	background-color: rgba(20,20,20,.2);
	border-bottom: 1px solid #bbb;
}
/*==================================================
 * Effect 2
 * ===============================================*/
 .effect2
{
  position: relative;
}
.effect2:before, .effect2:after
{
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 90%;
  top: 80%;
  max-width:300px;
  background: #777;
  -webkit-box-shadow: 0 15px 10px #777;
  -moz-box-shadow: 0 15px 10px #777;
  box-shadow: 0 15px 10px #777;
}
.effect2:hover
{
  -webkit-transform: rotate(1deg);
  -moz-transform: rotate(1deg);
  -o-transform: rotate(1deg);
  -ms-transform: rotate(1deg);
  transform: rotate(1deg); 
  right: 2px;
  left: auto;
  padding: 3px 3px;
  transition:.4s;
}