/********************************
	SCROLL BAR HANDLING
********************************/


/*************************************/
::-webkit-scrollbar { 
    display: none; 
} 
body, html { /* these are the default values, you can use any hex color value */
    scrollbar-face-color: ThreeDFace;
    scrollbar-shadow-color: ThreeDDarkShadow;
    scrollbar-highlight-color: ThreeDHighlight;
    scrollbar-3dlight-color: ThreeDLightShadow;
    scrollbar-darkshadow-color: ThreeDDarkShadow;
    scrollbar-track-color: Scrollbar;
    scrollbar-arrow-color: ButtonText;
}
/****************hidding scroll bar**********************/
#panel {
	background-color: #dfdfdf;
	border: 1px solid #888;
	-webkit-box-shadow: 0 15px 10px #777;
  	-moz-box-shadow: 0 15px 10px #777;
 	 box-shadow: 0 15px 10px #777;
}
.content {
	margin-top: 50px;
}
.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
.ng-invalid.ng-dirty{
   /* border-color:#FA787E;*/
}
.ng-valid.ng-dirty{
    /*border-color:#78FA89;*/
}

.postItems{
	cursor: pointer !important;
}

/*MY OWN STYLING STARTS HERE*/
body {
	background-color: #d4d4d4 !important;
	/*background: url(../img/bgtexture.png) no-repeat;*/
	background-size: cover;
}

#overlay
{
width: 100%;
height:100%;
position:absolute;
z-index: 100;
top:0;
left:0;
background: rgba(0,0,10,0.6);
position: fixed;
}
#newPost
{
width: 50%;
height: 40%;
background-size: cover;
background-color: #009DDB;
position: fixed;
top:150px;
left:25%;
right:25%;
z-index: 20;
border-radius: 5px
}
.editPost {
	padding-top: 15px;
	padding-left: 20px;
	background-color:#4074B0;
	height: 150px;
	border-radius: 10px;
	color: white;
}
.editPost select {
	color: #555;
}
.editPost label {
	padding-top: 7px;
	border-bottom: 1px solid white;
}
form>ul>li {
	text-decoration: none;
	list-style: none;
	display:inline-block;
	border-bottom: 1px solid #fff	;
	padding-top: 10px;
	width: 90%;
	padding-bottom: 10px;

}

form>ul>li label {
	color: #fff;
}
/***************************
		DASHBOARD
***************************/
.dashBoard {
	background-color: white;
	border-radius: 5px;
	margin-bottom: 2%;
	border: 1px solid #bbb;
	margin-top: 1%;
	color: #888;
	-webkit-box-shadow: 0 2px 4px #aaa;
  	-moz-box-shadow: 0 2px 4px #aaa;
 	 box-shadow: 0 2px 4px #aaa;
}
.dashBoard>img {
	/*background-color: #eee;*/
	text-align: center;
	margin-bottom: 1%;
	margin-top: 1%;
}
.updates
 {
	border-radius: 5px;
}

.updates ul 
{
	margin-top: 50%;
}
.updates ul li {
	display: inline-block;
	/*background-color: rgba(255,255,255,.4);*/
	/*text-decoration: none;*/
}





/*************************/
#description {
	padding-bottom: 15px;
	margin-top: 1%;
	border-bottom: 30px !important;
}
#description textarea,
#newPost select {
	float:right;
	color: #000 !important;
	margin-right:20%;

}
select
{
	width: 50%;
}
.postImage {
	margin-top: 50px;
}
.imageLoad {
	padding-left: 7%;
}
#uploadBtn {
	width: 100px;
	height: 40px;
	outline-width: 6px;
	text-align: center;
}
.deleteIcon
 {
	background: url(../img/del.png) no-repeat  3px;
	background-size: cover;
	/*background-color: white;*/
	z-index: 2000;
	width: 30px;
	height: 30px;
	display: block;
}
.postDecription {
	width: 100%;
	padding: 3px 10px;

}
#listTile a{
	text-decoration: none;	
}
#listTile img{
	height:150px;
	width: 100%;
	background-image: url(../img/Messaging.png ) no-repeat;
	background-size: cover;
	padding: 0px 0px !important;
	border-bottom: 2px solid #f4f4f4;
}
/***************************
		COMMENTS
***************************/
.post-group{
	overflow-y:auto;
	height: 500px; 
}
.comment-item-text
{
	color: #666 !important;
}
.commentBox {
	background-color: rgba(255,255,255,.0) !important;
	border-left: 3px solid #888 !important;
	border: none;
	border-bottom: 1px solid #888;
}
.commentBox:hover {
	/*background-color: rgba(200,200,250,.2) !important;*/
	border-right: 3px solid #888;
	border-left: 3px solid #88e !important;
}
a.myList-group-item {
	color: #555;
}
.myList-group-item img {
	padding:1px 1px;
}
input[type=file]{
	color: white;
}

.myList-group-item-heading {
	width: 100%;
	/*background-color: rgba(20,20,20,.2);*/
	text-align: center;
	border-bottom: 1px solid #bbb;
}
#listDescription {
	background-color: rgba(0,0,0,.4);
	color: #fff;
	position: absolute;
	width: 100%;
	height: 100%;
	text-align: center;
	opacity: .0;
	vertical-align: center;
	border: 5px;
	padding-top: 2px;
}
#listDescription:hover{
	
	opacity: 1;
	padding-top: 30px;
	transition:.3s;
}
/*==================================================
 * Effect 2
 * ===============================================*/
 .effect2
{
  position: relative;
}
.effect2:before, .effect2:after
{
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 90%;
  top: 80%;
  max-width:300px;
  background: #777;
  -webkit-box-shadow: 0 15px 10px #777;
  -moz-box-shadow: 0 15px 10px #777;
  box-shadow: 0 15px 10px #777;
}
.effect2:hover
{
  -webkit-transform: rotate(1deg);
  -moz-transform: rotate(1deg);
  -o-transform: rotate(1deg);
  -ms-transform: rotate(1deg);
  transform: rotate(1deg); 
  right: 2px;
  left: auto;
  transition:.4s;
}
.list-group-item {
	margin-bottom: 3px;
}
#commentClass>div {
	background-color: white;
	padding: 4px 0px;
	text-align: center;
	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
	border-bottom: 1px solid #aaa;
	color:#666;
}
.comment-group {
	background-color: #eee;
	height: 470px;
}
.comment-group a {

}