<!-- 
<div data-ng-hide="authentication.user._id">
	show a front page that will promp user to sign in to be able to post
</div>
<section data-ng-controller="PostsController" data-ng-show="authentication.user._id"  data-ng-init="find()">

	<div class='updates'>
	</div>

	<div class='col-md-2 leftBar'>

		left
		<div>holds the image</div>
		<div>the name of selected field and holds the thumbnail</div>
	</div>

	<d
		<div class='postImage'>
			<form data-ng-submit="create()" novalidate>
			<textarea  name="description" data-ng-model="description" id="description" class="form-control" type='text' rows="2" placeholder="What's It about ?"></textarea>

			<div class='row'>
				<div class='col-sm-3'>
					<select data-ng-model="fields">
						<option></option>
						<option>Sports</option>
						<option>Politics</option>
						<option>Relationship</option>
						<option>Networking</option>
						<option>Career</option>
						<option>Religious</option>
					</select>
				</div>
				<div class='col-sm-3'>
					<input type='file' data-ng-file-select="onFileSelect($files)" accept="image/*">
				</div>

				<div class='col-sm-3 rightBar pull-right'>
					<input type='submit' value='Upload'>
				</div>
			</div>
			</form>
			</div>
			<div>
				<section>
					
					<div class="list-group">
						<a data-ng-repeat="post in posts"  class="list-group-item">
							<div ng-click='showComments()'>

							<small class="list-group-item-text">
								Posted on
								<span data-ng-bind="post.created | date:'mediumDate'"></span>
								by
								<span data-ng-bind="post.user.displayName"></span>
							</small>
							
							<p class="list-group-item-text pull-right" data-ng-bind="post.fields"></p>
							<img ng-src="{{post.image[0].path}}">
							<h4 class="list-group-item-heading" data-ng-bind="post.description"></h4>
							
							</div>
	

							<form data-ng-submit='addComment()'>
								<input class='col-md-12' type='text' placeholder='Comment ?'  data-ng-model='newComment'>
								<input class='pull-right' type='submit' value='Post Comment' data-ng-click='addComment()'>
							</form>

							<div>
								<img ng-src='img.png' data-ng-click='likeAble()'>
								<span ng-bind="post.likes"></span>
							</div>
						</a>
					</div>
					<div class="alert alert-warning text-center" data-ng-if="posts.$resolved && !posts.length">
						No posts yet, why don't you <a href="/#!/posts/create">create one</a>?
					</div>
				</section>
		</div>

		</div><!-- end of col-md-6 -->
		<div class='col-md-4'>
			<section>
					<div class="list-group">
						<a data-ng-repeat="comment in comments" class="list-group-item">
							<small class="list-group-item-text">
								Posted on
								<span data-ng-bind="comment.created | date:'mediumDate'"></span>
								by
								<span data-ng-bind="comment.commentBy"></span>
							</small>
							<h4 class="list-group-item-heading" data-ng-bind="comment.content"></h4>
							<p class="list-group-item-text" data-ng-bind="post.description"></p>
						</a>
					</div>
					<div class="alert alert-warning text-center" data-ng-if="posts.$resolved && !posts.length">
						No posts yet, why don't you <a href="/#!/posts/create">create one</a>?
					</div>
				</section>
		</div>
</section>
 -->