<section data-ng-controller="PostsController" data-ng-init="findOne()">
	<div class="page-header">
		<h1>Edit Post</h1>
	</div>
	<div class="editPost center col-md-8">
		<form name="postform" class="form-horizontal col-md-12" data-ng-submit="update(postForm.$valid)" novalidate>
			<fieldset >
				<div class="form-group" ng-class="{ 'has-error' : submitted && postForm.description.$invalid}">

					<label class="col-md-4" for="description">Description :</label>
					<div class="controls col-md-8">
						<input name="description" type="text" data-ng-model="post.description" class="form-control " placeholder="Description" required>
					</div>
					<div ng-show="submitted && post.description.$invalid" class="help-block">
						<p ng-show="post.description.$error.required" class="text-danger">Description is required</p>
					</div>
			
					<label class='col-md-4'>Category :</label>
						<div class='col-md-8 pull-left controls'>
						<select data-ng-model="post.fields">
							<option></option>
							<option>Sports</option>
							<option>Politics</option>
							<option>Relationship</option>
							<option>Networking</option>
							<option>Career</option>
							<option>Religious</option>
						</select>
						</div>
				</div>

				<div class="form-group">
					<input type="submit" value="Update" class="btn btn-default col-md-2 col-md-offset-5"
					ng-click='update()'>
				</div>

				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
			</fieldset>
		</form>
	</div>
</section>