<section data-ng-controller="PostsController" data-ng-init="find()">
	<div class="page-header">
		<h1>Art Gallery</h1>
	</div>
	<div class=" col-md-12 centered">

		<div id='listTile'><!-- start of tile -->

		<a data-ng-repeat="post in posts" data-ng-href="#!/posts/{{post._id}}" class="myList-group-item   effect2 thumbnail" >
			<div id='listDescription'>
					<p class="list-group-item-text" data-ng-bind="post.description"></p>
			</div>
				<img class='img-rounded' ng-src="{{post.image[0].path}}" >
			<h4 class="list-group-item-heading myList-group-item-heading" data-ng-bind="post.fields"></h4>
		<div class="list-group-item">
			<small class="list-group-item-text">
				@
				<span data-ng-bind="post.user.displayName"></span>
				on
				<span data-ng-bind="post.created | date:'mediumDate'"></span>	
			</small>
			<!-- <p class="list-group-item-text" data-ng-bind="post.description"></p> -->
		
		<img ng-src='/modules/core/img/love.png' style='width:16px;height:16px' data-ng-click='likeAble($index)'>
			<span ng-bind="post.likes.length"></span>
				,
			<img src="/modules/core/img/comment.png" style='width:16px;height:16px'>
			<span ng-bind='post.comments.length'></span>
			</div>
		</a>
	</div><!-- end of tile -->
	</div>
	<div class="alert alert-warning text-center" data-ng-if="posts.$resolved && !posts.length">
		No posts yet, why don't you <a href="/#!/">create one</a>?
	</div>
</section>